config RT4831A_I2C
	bool "Support rt4831 gate ic board"
	---help---
	  I2C gate driver for RT4831 support.
	  Set y to support.
	  Set n to disable.
	  RT4831 I2C driver for display and backlight.

config OCP2130_I2C
	bool "Support ocp2130 gate ic board"
	---help---
	  I2C gate driver for OCP2130 support.
	  Set y to support.
	  Set n to disable.
	  OCP2130 I2C driver for display bias.
